<div class="container-login">

	<img ng-src="images/bg-login.jpg">

	<div>

		<form class="form-signin">
		  
		  	<h2 class="form-signin-heading text-center">TREINAMENTO</h2>

		  	<br/>
		  
		  	<label for="inputEmail" class="sr-only">Email</label>
		  	<input type="email" id="email" class="form-control" placeholder="Email" required="" autofocus="" ng-model="email" style="margin-bottom: 6px;">

		  	<label for="password" class="sr-only">Senha</label>
		  	<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" ng-model="password">
		  
		  	<a class="btn btn-lg btn-primary btn-block" href="https://ras-administration.herokuapp.com/auth/login/local/5836d5d41af5c70012d6d58e">Entrar</a>

		  	<br/>

		  	<p class="text-center">
		  		<small>Você pode se cadastrar pelo <small> 
		  		<a ng-href="https://ras-administration.herokuapp.com/auth/google" target="_blank"><i class="fa fa-google-plus-square fa-spc-sm"></i>Google</a>
		  	</p>

		</form>

	</div>	

</div>	