<div class="container-login">

	<img ng-src="images/bg-login.jpg">

	<div>

		<form class="form-signin" ng-submit="login(email, password)">
		  
		  	<h2 class="form-signin-heading text-center">TREINAMENTO</h2>

		  	<br/>
		  
		  	<label for="inputEmail" class="sr-only">Email</label>
		  	<input type="email" id="email" class="form-control" placeholder="Email" required="" autofocus="" ng-model="email" style="margin-bottom: 6px;">

		  	<label for="password" class="sr-only">Senha</label>
		  	<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" ng-model="password">
		  
		  	<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

		</form>

	</div>	

</div>	