<h3 class="page-header">Introdução</h3>

<p class="text-justify">Vamos começar nosso treinamento em Java?</p>

<br/>

<p class="text-justify">Para começar a estudar este modulo é necessário que você instale na sua máquina os seguintes softwares:</p>

<ul>
	<li>
		<strong>Git</strong>
		<i>Sistema para gerenciamento e versionamento de arquivos.</i>
		<a href="https://git-scm.com/download/win"><br/>
			https://git-scm.com/download/win
		</a>
	</li>
	<li>
		<strong>Tomcat 8.0</strong>
		<i>Container de aplicação para rodar o projeto (Server).</i>
		<a href="https://tomcat.apache.org/download-80.cgi"><br/>
			https://tomcat.apache.org/download-80.cgi
		</a>
	</li>
	<li>
		<strong>Eclipse Neon</strong>
		<i>Software para criação do projeto (IDE).</i>
		<a href="https://www.eclipse.org/downloads/"><br/>
			https://www.eclipse.org/downloads/
		</a>
	</li>
</ul>	

<br/>

<p class="text-justify">Depois de você instalar esses software, nos podemos começar o desenvolvimento de uma aplicação simples para entender como funciona o fluxo de uma aplicação em java.</p>

<br/>

<p class="text-justify">Objetivos iniciais:</p>

<ul>
	<li><i>Entender como funcionam as principais ferramentes de desenvolvimento em java.</i></li>
	<li><i>Entender como funciona o fluxo de desenvolvimento de uma aplicação em java.</i></li>
	<li><i>Criar nossa primeira aplicação em java, o famoso Hello world!!!</i></li>
</ul>

<br/>

<p class="text-justify">Uma boa maneira de estudar é após você instalar esses software, dar uma lida para entender do que se trata cada um deles.</p>

<p class="text-justify">Quanto mais rápido nos caminharmos com o aprendizado, mas rápido começarmos a criar nos aplicações.</p>

<p class="text-justify">Qualquer dúvida que você tiver me manda um email com o título - TREIN-JAVA / MIA - (E o título da dúvida), assim consigo separar nas minhas pastas e ir respondendo conforme as dúvidas forem aperecendo.</p>

<br/>
<br/>

<address>
  Abcs<br/>
  <strong>Rafa</strong>
</address>

